* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(66, 66, 66);
}

.gameContainer {
    width: 600px;
    height: 600px;
    margin: auto;
    flex-wrap: wrap;
    perspective: 1000px;
    display: flex;
}

.card {
    width: 20%;
    height: 20%;
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    cursor: pointer;
    background-color: rgb(53, 53, 53);
}

.card:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.card.flip {
    transform: rotateY(180deg);
    cursor: pointer;
}

.front,
.back {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 10px solid #9c9c9c;
    border-radius: 4px;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

.timer {
    font-size: 150%;
    width: 600px;
    margin-bottom: 20px;
}

.margin-left {
    margin-left: 10px;
}

.timer-box {
    width: 160px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(156, 156, 156);
    color: white;
    text-align: center;
}

.model {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 80px;
    text-align: center;
    transition: 0.4s;
}

.finish-time {
    font-size: 300%;
    height: 100px;
    width: 50%;
    padding-top: 7px;
    background-color: tomato;
    color: white;
    border-radius: 120px;
    transform: translate(50%, 150%);
}

.hide {
    display: none;
}

.margin-top {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.instructions {
    padding: 5px 50px;
    color: white;
    border-radius: 5px;
    background-color: transparent;
    border: 5px solid rgb(156, 156, 156);
}

.title {
    top: 0;
    left: 0;
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 5px solid rgb(156, 156, 156);
}

.type {
    width: 600px;
    margin: 5px;
}

.btn-margin {
    margin: 5px;
}

.table-add {
    margin-left: 0;
}